body {
  background-color: #BBE1FA;
  font-family: 'Mukta', sans-serif;
}

h1 {
  color: #3282B8;
  font-family: 'Mukta', sans-serif;
  }

h3 {
  color: #3282B8;
  font-family: 'Mukta', sans-serif;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 5%
}
p{font-family: 'Mukta', sans-serif;}
label{font-family: 'Mukta', sans-serif;}
ul{font-family: 'Mukta', sans-serif;}
ol{font-family: 'Mukta', sans-serif;}
