head {
  overflow: hidden;
  }

body {
  font-family: 'Merriweather', serif;
  text-align: center;
  background-color: #1b262c;
  color: #bbe1fa;
  margin: 0;
}

h1 {
  color: #3282b8;
  font-family: 'Crimson Text', serif;
  font-size: 3.25rem;
  margin: 0;
}

h2 {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  padding-bottom: 10px;
}

h3 {
  color: #3282b8;
  font-family: 'Montserrat', sans-serif;
}

p {
    line-height: 2;
}

a {
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
}

a:hover {
  color: #eaf6f6;
}


.subtitle {
  font-weight: normal;
}

.middle-container {
  margin: 50px 0;
}

.bottom-container {
  padding: 25px 0;
}

.pro {
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin: auto;
  font-size: 1.25rem;
  font-weight: bold;
}

.benefits{
  max-width: 50%;
  margin: auto;
}

.profile {
  margin: 50px;
}

.skill-row{
  width: 50%;
  margin: 100px auto;
/*   text-align: left; */
}

.HTML5{
  min-width: 35px;
  width: 5%;
}

.CSS{
    min-width: 35px;
    width: 5%;
}

.footer-link{
  color: #11999e;
  text-decoration: none;
}

.copyright{
  font-size: 0.75rem;
  padding: 20px 0;
}

.btn {
   background: #0f4c75;
   border-radius: 8px;
   color: #FFFFFF;
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
   padding: 10px 20px 10px 20px;
   text-decoration: none;
   }

.btn:hover {
  background: #3282b8;
  text-decoration: none;
}
